h1{
    color: red;
}
h2{
    color:red;
    font-style: italic;
}
.lineh{
     line-height: 1cm;
     color: olive;
}
.text{
    text-decoration: line-through;
}
.bgcolor{
    background-color: yellow;
}
.italic{
    text-decoration: underline;
    font-style: italic;
}
.space{
    letter-spacing: 3px;
    color:olive;
}
div{
    color:olive;
}
a{
    color:olive;
    font-style: italic;
    background-color: yellow;
    text-decoration: none;
}